body {
    color: red;
    background-color: black;
    font-style: oblique;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 50px;
}

a {
    color: white;
    text-decoration: none;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 10px solid rgb(13, 163, 13);
}

.center {
    text-align: center;
}

h1 {
    color: green;
}

h2 {
    color: green;
}

nav a:hover {
    color: green;
}